<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxFlexFill>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <div style="padding: 8px;">
      <button mat-button>Sample Button</button>
    </div>
    <mat-divider vertical></mat-divider>
    <span fxFlex></span>
    <mat-divider vertical></mat-divider>
    <h2 class="mat-body-2" fxFlexAlign="center" fxFlexOffset="32px" fxFlex="64px">Graft</h2>
  </div>
</div>
